body {
    background-color: rgb(240, 255, 255);
}

hr {
    border-style: none;
    height: 2px;
    background-color: rgb(114, 114, 114);
    width:100%;
}

h1 {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 0, 0);
}


