
/*--- TAGS ---*/

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition-duration: 0.4s;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 210, 229);
}

body {
    background-color: #ececec;
}

button {
    color: #385170;
    border-radius: 0.25vw;
    padding: 1vh 1vh;
    background-color: #D3D3D3;
    font-weight: bold;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.4s;
    margin-right: 1vw;
    margin-left: 1vw;
}

button:hover {
    color: #031122;
    background-color: #D3D3D3;
}

hr {
    border-style: none;
    height: 1px;
    background-color: rgb(114, 114, 114);
    width:95%;
    margin-left:0%;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    color: #142d4c;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    color: #385170;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vh;
    color: #385170;
}

img {
    border: 4px solid #D3D3D3;
    border-radius: 4px;
    background: #D3D3D3;
}

li {
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-size: 0.875em;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 90%;
    text-align: justify;
}


/*--- CLASSES ---*/

.intro-table {
    padding-left: 0.75%;
}

.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width: 90%;
}
